html{
    background-color: rgb(31, 33, 43);
}
body{
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1000px;
    background-color: rgb(235, 134, 11);
    height: 50vw;
}

.game-display{
    display: flex;
    justify-content: center;
}

.display{
    text-align: center;
    height: 250px;
    margin-bottom: 65px;
}

img{
    width: 150px;
}
figcaption{
    font-size: 2rem;
}
.options{
    display: flex;
    justify-content: space-around;
    position: inherit;
}
button{
    font-size: xx-large ;
    margin-bottom: 15px;
}
#score{
    display: flex;
}
#score-1{
    display: flex;
}
li{
    list-style: none;
    padding: 0px 10px;
}